body {
    font-family: Arial;
}

/* Style the tab */

.tab {
    overflow: hidden;
    background-color: #ebecf1;
}

x {
    color: #405e7c;
    font-size: 13px;
}

/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
    border-bottom: #009fdb 2px solid;

}

/* Style the tab content */

.tabcontent {
    display: none;

    border-top: none;
}

.menu {
    background: #495063;
    color: #fff;
    vertical-align: middle;
    font-size: 28px;
    font-weight: 100;
    padding: 16px;
}

.inputText {
    border: 1px solid #ddd;
    box-shadow: none;
    display: block;
    height: 40px;
    margin: 0;
    padding: 0 12px;
    color: #2d3849;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-width: 240px;
}

.primary {
    height: 40px;
    vertical-align: bottom;
    background: #009FDB;
    border: none;
    color: white;
    min-width: 60px;
    border-radius: 4px;
}

.filter {
    border-bottom: 2px solid #009FDB;
    padding: 20px 10px;
    background: #dadce2;
}


.tableContentPane {
    margin: 20px;
    padding: 10px;
    border: 1px solid #0000001a;
    border-radius: 8px;
}

#quovant tr:nth-child(even) {
    background-color: #FAFAFB;
}

#quovant tr:hover {
    background-color: #ddd;
}

#quovant th {
    background: #009fdb;
    border-color: #0086f1;
    color: #fff;
    font-size: 1.1em;
    padding: 5px 10px;
    text-align: left;
    text-transform: none;
}

#quovant {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
    background-color: #FAFAFB;
}

#quovant td {
    font-weight: normal;
    padding: 10px 10px;
    border: 1px solid #ebebeb;
    border-width: 1px 0 0 1px;
    color: #7489a0;
    text-align: left;
}

#quovant th {
    border: 1px solid #ddd;
    padding: 8px;
}

a {
    color: #009FDB;
}

.hollowButton {
    background: transparent;
    border-width: 1px !important;
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: #7489a0;
    font-weight: 600;
    height: 40pX;
    padding: 3px 25px;
}

.min {
    max-width: 80%;
    margin: auto;

}

.newfrom {
    background: #F5F8FB;
}

.checkboxLabel {
    font-size: 14px;
    color: #405e7c;
}

.area {
    min-height: 120px;
}

.newfromTable
{
    background: #F5F8FB;
    padding: 20px;
    width: 100%;
    border: 1px solid #EEEEEE;
    box-shadow: 2px 5px 8px 0px #eee;
}
